<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/styles.css") }}">

        <title>PPE Violation Detection</title>
    </head>
    <body>
        <!-- Script-->
        <!-- Reference - https://stackoverflow.com/questions/33580143/flask-show-flash-messages-in-alertbox -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
            var messages = {{ messages | safe }};
            for (var i=0; i<messages.length; i++) {
                alert(messages[i]);
            }
            </script>
        {% endif %}
        {% endwith %}
        <!-- =============== HEADER =============== -->
        <header class="header container" id="header">
            <div class="title">
                <h1>PPE Violation Detection</h1>
            </div>
        </header>

        <!-- =============== MAIN =============== -->
        
            <!-- =============== VIDEOS =============== -->
        
            <div style="position: relative;">
                <center>
                <div style="width: 100%; position: absolute;">
                    <div style="width: 50%; height: 100px; float: left;"> 
                      <div>
                          <img src="{{ url_for('video_raw') }}" width="600"  height="400"/>
                      </div>
                    </div>
                    <div style="margin-left: 50%; height: 100px;"> 
                      <div>
                        <img src="{{ url_for('video_processed') }}" width="600"  height="400" />
                      </div>
                    </div>
                </div>
            </center>
            </section>
            
            <!-- =============== OPERATIONS =============== -->
            <div style="width: 100%; position: absolute; top: 350px;">
            <main class="main container">
            <section class="operations">
                <form action="/" method="POST" enctype="multipart/form-data">
                    <div class="btn">
                        <span class="upload__button">
                            <div>
                                <input type="file" class="custom-file-input" name="video" id="video">
                            </div>
                            <button type="submit" class="btn-primary" name="video_upload_button">Upload Video</button>
                            <i class="ri-video-upload-fill button__icon"></i>
                        </span>
                        <span class="live__button">
                            <button type="submit" class="btn-primary" name="inference_video_button">Inference on Video</button>
                            <i class="ri-movie-2-fill button__icon"></i>
                        </span>
                        <span class="inference__button">
                            <input type="text" class="ip_address-input" name="ip_address_textbox" id="ip_address" placeholder="http://192.168.12.10:4747/video" value="http://192.168.12.10:4747/video">
                            <button type="submit" class="btn-primary" name="live_inference_button">Live Inference</button>
                            <i class="ri-settings-4-fill button__icon"></i>
                        </span>
                        <span class="download__button">
                            <!-- a download href="{{ url_for('static', filename='reports\report.csv') }}">Download Report</a> -->
                            <button type="submit" class="btn-primary" name="download_button">Download Report</button>
                            <i class="ri-file-download-fill button__icon"></i>
                        </span>
                    </div>
                    <center>
                    <span class="email__sending">
                        <div class="send__email">
                            <input type="email" placeholder="support.ai@giindia.com" value="support.ai@giindia.com" name="alert_email_textbox">
                        </div>
                        <div class="toggle__content">
                            <label class="toggle__label">
                                <input type="checkbox" class="toggle__check" name="alert_email_checkbox" onChange='submit();' />
                                <span class="email__label">Send Alert</span>
                                <div class="toggle__rail">
                                    <span class="toggle__circle"></span>
                                    <span class="toggle__border"></span>
                                </div>
                            </label>
                        </div>
                    </span></center>
                </form>
            </section>
            </div>
            </div>
        </main>
    </body>
</html>
